body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hearderSection{
    height: 35px;
    background-color: #ff9524;
    

}
.mainSection{
    background-color: #ededed;
    height: 100vh;
}
nav{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.footerSection{
    height: 200px;
    background-color: rgb(44, 41, 41);
}